@mixin externalLink($fontSize) {
    text-decoration: none;
    display: inline-flex;
    gap: 10px;
    padding: calc(15px * ($fontSize / 18px)) calc(40px * ($fontSize / 20px));
    border: 2px solid $accentColor;
    font-size: $fontSize;
    transition: 300ms;

    &:hover {
        background: $accentColor;
        color: #000;
    }
}

// @mixin externalLink($fontSize) {
//     text-decoration: none;
//     display: inline-flex;
//     gap: 10px;
//     padding: 15px 40px;
//     border: 2px solid $accentColor;
//     font-size: 18px;
//     transition: 300ms;

//     &:hover {
//         background: $accentColor;
//         color: #000;
//     }
// }